<h1>Listing items</h1>

<table border="1">
  <tr>
    <th>Name</th>
    <th>Artist</th>
    <th>Category</th>
    <th>Tags</th>
    <th>Own?</th>
    <th>URL</th>
    <th>Image File</th>
    <th>Rating</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @items.each do |item| %>
  <tr>
    <td><%= item.name %></td>
    <td><%= item.artist %></td>
    <td><%= item.category.name %></td>
    <td><%= item.tagNames.to_sentence %></td>
    <td><%= item.isOwned %></td>
    <td><%= item.productURL %></td>
    <td><%= item.imageFile %></td>
    <td><%= item.rating %></td>
    <td><%= link_to 'Show', item %></td>
    <td><%= link_to 'Edit', edit_item_path(item) %></td>
    <td><%= link_to 'Destroy', item, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Item', new_item_path %>
